.vscode/browse.vc.db-wal
.vscode/browse.vc.db-shm
.vscode/browse.vc.db
.cache/clangd/index/amd_1.c.EE504A7449BC2E5B.idx
.cache/clangd/index/amd_2.c.62825379D4264A3E.idx
.cache/clangd/index/amd_aat.c.283C2F6AC5453318.idx
.cache/clangd/index/amd_control.c.4FA9F023F7C5BF62.idx
.cache/clangd/index/amd_defaults.c.A3E9055BC81D601E.idx
.cache/clangd/index/amd_dump.c.1B770811EA5DE648.idx
.cache/clangd/index/amd_global.c.E21D2730DCA23409.idx
.cache/clangd/index/amd_info.c.6F03846011BF6307.idx
.cache/clangd/index/amd_internal.h.249291780F2245FF.idx
.cache/clangd/index/amd_order.c.48857749E07F8DC3.idx
.cache/clangd/index/amd_post_tree.c.A6788EE08CDFCAB6.idx
.cache/clangd/index/amd_postorder.c.07FA57B624E8766A.idx
.cache/clangd/index/amd_preprocess.c.93E0015EAC306F62.idx
.cache/clangd/index/amd_valid.c.43C35BD4E10550F2.idx
.cache/clangd/index/amd.h.4F7E9268CA811ACE.idx
.cache/clangd/index/cone.c.49CEBEFBFBD499F2.idx
.cache/clangd/index/cone.h.2C6B95362E9F95B6.idx
.cache/clangd/index/ctrlc.c.2962211475BF13CD.idx
.cache/clangd/index/ctrlc.h.1279128CCF26401D.idx
.cache/clangd/index/ecos_bb_preproc.c.F0D2B99B3CB35EF1.idx
.cache/clangd/index/ecos_bb.c.6CF3A68A4253E707.idx
.cache/clangd/index/ecos_bb.h.D443043E391F4399.idx
.cache/clangd/index/ecos.c.85A32F8AC3454030.idx
.cache/clangd/index/ecos.h.E504038A77DC45D3.idx
.cache/clangd/index/ECOSTest00.cpp.3ADF0E08CCC1A38A.idx
.cache/clangd/index/equil.c.0D6157FE96434A1D.idx
.cache/clangd/index/equil.h.9054A4EFC91F3847.idx
.cache/clangd/index/expcone.c.A799F28C841C8674.idx
.cache/clangd/index/expcone.h.FB0EBDF6B8A5E29E.idx
.cache/clangd/index/glblopts.h.18A68D1B42722719.idx
.cache/clangd/index/kkt.c.B825CC2052896F2B.idx
.cache/clangd/index/kkt.h.8E964D0EA3887A2E.idx
.cache/clangd/index/ldl.c.235768EBC3A62977.idx
.cache/clangd/index/ldl.h.B861C762261F5D12.idx
.cache/clangd/index/lib_compute.cpp.73F6A32409F73403.idx
.cache/clangd/index/lib_mtrctrl.cpp.A9E1CA00B781A4B5.idx
.cache/clangd/index/preproc.c.EB7D608A0DF11398.idx
.cache/clangd/index/spla.c.11380223C372DB69.idx
.cache/clangd/index/spla.h.7685C6AE8F458BE3.idx
.cache/clangd/index/splamm.c.EB699F053B8111B1.idx
.cache/clangd/index/splamm.h.C1919323DF699301.idx
.cache/clangd/index/SuiteSparse_config.h.1EEA55261B46F36D.idx
.cache/clangd/index/timer.c.00D73DD4D6971305.idx
.cache/clangd/index/timer.h.2D0B624C1215CA87.idx
.cache/clangd/index/wright_omega.c.6BA94655EB9034AD.idx
.cache/clangd/index/wright_omega.h.5A68E2349748B7E5.idx
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.3/CMakeCCompiler.cmake
build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.3/CMakeSystem.cmake
build/CMakeFiles/3.28.3/CompilerIdC/a.out
build/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.3/CompilerIdCXX/a.out
build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/ECOSTest00.dir/build.make
build/CMakeFiles/ECOSTest00.dir/cmake_clean.cmake
build/CMakeFiles/ECOSTest00.dir/compiler_depend.make
build/CMakeFiles/ECOSTest00.dir/compiler_depend.ts
build/CMakeFiles/ECOSTest00.dir/depend.make
build/CMakeFiles/ECOSTest00.dir/DependInfo.cmake
build/CMakeFiles/ECOSTest00.dir/flags.make
build/CMakeFiles/ECOSTest00.dir/link.txt
build/CMakeFiles/ECOSTest00.dir/progress.make
build/CMakeFiles/compute.dir/build.make
build/CMakeFiles/compute.dir/cmake_clean.cmake
build/CMakeFiles/compute.dir/compiler_depend.make
build/CMakeFiles/compute.dir/compiler_depend.ts
build/CMakeFiles/compute.dir/depend.make
build/CMakeFiles/compute.dir/DependInfo.cmake
build/CMakeFiles/compute.dir/flags.make
build/CMakeFiles/compute.dir/link.txt
build/CMakeFiles/compute.dir/progress.make
build/CMakeFiles/mtrctrl.dir/build.make
build/CMakeFiles/mtrctrl.dir/cmake_clean.cmake
build/CMakeFiles/mtrctrl.dir/compiler_depend.make
build/CMakeFiles/mtrctrl.dir/compiler_depend.ts
build/CMakeFiles/mtrctrl.dir/depend.make
build/CMakeFiles/mtrctrl.dir/DependInfo.cmake
build/CMakeFiles/mtrctrl.dir/flags.make
build/CMakeFiles/mtrctrl.dir/link.txt
build/CMakeFiles/mtrctrl.dir/progress.make
build/lib_ecos/CMakeFiles/CMakeDirectoryInformation.cmake
build/lib_ecos/CMakeFiles/progress.marks
build/lib_ecos/CMakeFiles/Export/1486f10f4b53bd9f1a0cd8f44f37b237/ecos-targets-noconfig.cmake
build/lib_ecos/CMakeFiles/Export/1486f10f4b53bd9f1a0cd8f44f37b237/ecos-targets.cmake
build/lib_ecos/CMakeFiles/ecos.dir/build.make
build/lib_ecos/CMakeFiles/ecos.dir/cmake_clean.cmake
build/lib_ecos/CMakeFiles/ecos.dir/compiler_depend.make
build/lib_ecos/CMakeFiles/ecos.dir/compiler_depend.ts
build/lib_ecos/CMakeFiles/ecos.dir/depend.make
build/lib_ecos/CMakeFiles/ecos.dir/DependInfo.cmake
build/lib_ecos/CMakeFiles/ecos.dir/flags.make
build/lib_ecos/CMakeFiles/ecos.dir/link.txt
build/lib_ecos/CMakeFiles/ecos.dir/progress.make
